---
Checks: >
  -*,
  clang-diagnostic-*,
  clang-analyzer-*,
  readability-*,
  modernize-*,
  performance-*,
  bugprone-*,
  misc-unused-includes

WarningsAsErrors: ""

HeaderFileExtensions:
  - h
  - hh
  - hpp
  - hxx

ImplementationFileExtensions:
  - c
  - cc
  - cpp
  - cxx

HeaderFilterRegex: ""
ExcludeHeaderFilterRegex: ""
FormatStyle: none
User: containerscrew
CheckOptions: []
SystemHeaders: false
