[Unit]
Description=RootIsNaked eBPF Privilege Escalation Detector
After=network.target
ConditionPathExists=/usr/local/share/rootisnaked/rootisnaked.bpf.o

[Service]
Type=simple
ExecStart=/usr/local/bin/rootisnaked
Restart=on-failure
PIDFile=/run/rootisnaked.pid
StandardOutput=append:/var/log/rootisnaked/lastlog
StandardError=append:/var/log/rootisnaked/lastlog
RestartSec=5s
User=root
Group=root


[Install]
WantedBy=multi-user.target